arkrc
vesktop/sessionData/*
vesktop/*
Vencord/*
Code/Cache/*
Code/*
Code - Insiders/Cache/*
Code - Insiders/CachedData/*
Code - Insiders/*
discord/Cache/*
discord/*
obs-studio/*
JetBrains/*
cosmic/*
Blockbench/*
Recaf/*
jd-gui.cfg
kconf_updaterc
QtProject.conf
trashrc
autostart/premid.desktop
btop/btop.log
dconf/user
cef_user_data/Dictionaries/en-US-9-0.bdic
discordo/config.yml
discover_overlay/discover_overlay.rpc
enigma/enigmaswingrc
enigma/enigmauirc
kde.org/UserFeedback.org.kde.dolphin.conf
keepassxc/keepassxc.ini
midnight/logs/screen_hynse-fabric_logfile.log
midnight/logs/screen_prominence_ii_logfile.log
nwg-displays/config
PreMiD/config.json
pulse/cookie
session/dolphin_dolphin_dolphin
simple-update-notifier/electron-builder.json
swappy/config
google-chrome-unstable/*
btop/btop.conf
kritarc
kritadisplayrc
btop/btop.conf
.gsd-keyboard.settings-ported
baloofilerc
dolphinrc
easyeffects/*
beekeeper-studio/*
atuin/config.toml
kdenlive-layoutsrc
kdenliverc
pavucontrol.ini
monitors.xml
monitors.xml~
xdg-terminals.list
dolphinrc
GNOME-xdg-terminals.list
cef_user_data/*
gnome-control-center/*
.env
midnight/systemrpc/systemrpc.log
nextjs-nodejs/config.json
evolution/sources/birthdays.source
evolution/sources/system-calendar.source
evolution/sources/system-proxy.source
composer/.htaccess
com.spacedrive.desktop/.window-state
*.lock
