* {
    border: none;
    border-radius: 0px;
    font-size: 12px;
    min-height: 0px;
    color: #d4d9eb;
}

window#waybar {
    background: #181818;
}
#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px 1px 0px 1px;
    color: #d4d9eb;
    background: #0e0e0e;
    border-bottom: transparent 1px solid;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.27,1.55);
}
#workspaces button:hover {
    color: #b8ccda;
    background-color: #181818;
    border-bottom: #d4d9eb 1px solid;
}
#workspaces button.active {
    color: #659bff;
    background: #181818;
    border-bottom: #659bff 1px solid;
    padding: 0px 2px 0px 2px;
}

#custom-media {
    padding-left: 8px;
    background: transparent;
    color: #92a9c4;
}
#window {
    color: #d4d9eb;
    padding: 0px 16px 0px 16px;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.27,1.55);
}
#clock {
    color: #92a9c4;
}
#cpu {
    color: #92a9c4;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.27,1.55);
}
#cpu.warning {
    color: #c1c492;
}
#cpu.critical {
    color: #d47878;
}
#memory {
    color: #92a9c4;
    padding-left: 2px;
}
#memory.warning {
    color: #c1c492;
}
#memory.critical {
    color: #d47878;
}
tooltip {
    background: #181818;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.27,1.55);
}
#pulseaudio {
    color: #d4d9eb;
    padding: 0px 4px 0px 2px;
}
#pulseaudio.microphone {
    color: #d4d9eb;
    padding: 0px 2px 0px 4px;
}
#tray {
    padding: 0px 16px 0px 16px;
}
#language {
    padding: 0px 0px 0px 0px;
}
#custom-power {
    color: #d15b5b;
    padding: 0px 8px 0px 12px;
}
#custom-app {
    color: #d4d9eb;
    padding: 0px 8px 0px 12px;
}
/* #pulseaudio.warning {
    color: #c6cadb;
}
#pulseaudio.critical {
    color: #b4b8c7;
}
#pulseaudio microphone {
    color: #d4d9eb;
}
#pulseaudio.warning microphone {
    color: #c6cadb;
}
#pulseaudio.critical microphone {
    color: #b4b8c7;
} */